.aboutCardContainer
{
    background-color: var(--background-secondary-color);
    height: fit-content;
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.aboutCardPicWrapper
{
    margin-left: 5vw;
    margin-right: 5vw;
}
.aboutCardPic
{
    width: 40vw;
}
.aboutCardTexts
{
    width: max-content;
    margin-top: 2vw;
    background-color: var(--background-secondary-color);
}
.aboutCardTitle
{
    color: var(--primary-color);
    font-size: 3vw;
}
.aboutCardDesc
{
    font-size: 1.75vw;
    max-width: 40vw;
}