@font-face
{
    font-family: 'Rubik';
    src: local("Rubik-VariableFont_wght"), url('./fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}
html
{
    scroll-snap-type: y mandatory;
}
body
{
    --primary-color: #7EF9C2;
    --secondary-color: #4EC992;
    --background-primary-color: #041F1E;
    --background-secondary-color: #19282A;
    background-color: var(--background-primary-color);
    font-family: 'Rubik', 'Arial', sans-serif;
    color: white;
    margin: 0;
}
.content
{
    margin-top: -6.2vh;
}
.element
{
    scroll-snap-align: start;
}