@font-face
{
    font-family: 'Rubik';
    src: local("Rubik-VariableFont_wght"), url('./fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}
:root
{
    --primary-color: #7EF9C2;
    --secondary-color: #009FB7;
    --background-primary-color: #2E2F34;
    --background-secondary-color: #1E1F24;
    background-color: var(--background-primary-color);
    font-family: 'Rubik', 'Times New Roman';
    color: white;
}