.contactContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.contactInfoTitle
{
    margin-top: 4vw;
    margin-bottom: 2vw;
    text-align: left;
    font-size: 4vw;
    color: var(--primary-color);
}
.contactFormContainer
{
    width: 70%;
}