.contactFormInside
{
    display: flex;
    justify-content: left;
    flex-direction: column;
    font-size: 1.75vw;
}
.contactFormGreeting
{
    margin-bottom: 0.75vw;
}
.contactFormText
{
    font-size: 1.8vw; 
}
.contactFormLine
{
    margin-top: 0.5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.contactFormInputPrefix
{
    min-width: fit-content;
}
.contactFormInput
{
    margin-left: 0.5vw;
    display: inline-block;
    width: 100%;
    height: 1.8vw;
    margin-top: 0.1vw;
    padding-left: 0;
    font-size: 1.8vw;
    color: var(--secondary-color);
    border: none;
    border-bottom: 0.1vw solid var(--primary-color);
    background-color: var(--background-color);
}
.contactFormInput:focus
{
    outline: none;
    border-bottom: 0.1vw dotted var(--primary-color);
}
.contactFormMessageContainer
{
    margin-top: 1.5vw;
}
.contactFormMessage
{
    height: 13vw;
    width: 100%;
    margin-top: 1vh;
    margin-left: 0;
    padding: 0.3vw;
    font-size: 1.5vw;
    resize: none;
    background-color: var(--background-color);
    color: var(--secondary-color);
}
.contactFormButtonContainer
{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contactFormButton
{
    margin-top: 1.5vw;
    padding: 0.5vw;
    width: 13vw;
    font-size: 2vw;
    font-weight: bold;
    color: var(--primary-color);
    border: 0.2vw solid var(--primary-color);
    border-radius: 90px;
    background-color: var(--background-color);
    transition: all 0.2s ease-out;
}
.contactFormButton:hover
{
    background-color: var(--secondary-color);
    color: white;
    transform: scale(1.05);
    border-color: var(--secondary-color);
    cursor: pointer;
}
