.contactBackground
{
    margin-top: 5vw;
    padding: 2vw 15vw 5vw 15vw;
    height: 80vh;
    background-color: var(--background-secondary-color);
}
.contactTitle
{
    color: var(--primary-color);
    text-align: center;

}
.contactContainer
{
    background-color: red;
    height: 100%;
}