.contactWrapper
{
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-secondary-color);
    height: 100vh;
    scroll-snap-align: start;
}
.contactInfoTitle
{
    margin-top: 4vw;
    margin-bottom: 2vw;
    text-align: left;
    font-size: 4vw;
    color: var(--primary-color);
}
.contactFormContainer
{
    width: 85%;
}