.navContainer
{
    margin-left: auto;
    margin-right: auto;
    top: 1.5vh;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    z-index: 3;
    width:35%;
    background-color: var(--background-primary-color);
    border-radius: 60px;
}
.navItem
{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 33.3%;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    text-align: center;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    cursor: pointer;
}
.navItem:first-child
{
    border-left: 2px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    border-radius: 60px 0 0 60px;
}
.navItem:last-child
{
    border-left: 1px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-radius: 0 60px 60px 0;
}
.navItem:hover
{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.navItem:hover .navLink
{
    color: white;
}
.navItem > .navLink
{
    font-size:1.5vw;
    font-weight: 450;
    color: var(--primary-color);
    transition: color 0.2s ease-out;
    text-decoration: none;
}
.navItemActive
{
    background-color: var(--primary-color);
}
.navItemActive > .navLink
{
    color: black;
}