.navContainer
{
    margin-left: auto;
    margin-right: auto;
    top: 1.05vh;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    width:35%;
    background-color: var(--background-primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 60px;
}
.navItem
{
    float: left;
    width: 33.3%;
    background-color: var(--background-primary-color);
    text-align: center;
    transition: background-color 0.2s ease-out;
}
.navItem:hover
{
    background-color: var(--secondary-color);
}
.navItem:hover .navLink
{
    color: white;
}
.navItem:first-child
{
    border-right: 2px solid var(--primary-color);
    border-radius: 60px 0 0 60px;
}
.navItem:last-child
{
    border-left: 2px solid var(--primary-color);
    border-radius: 0 60px 60px 0;
}
.navItem > .navLink
{
    margin-top: 1.2vh;
    margin-bottom: 1.2vh;
    font-size:1.3vw;
    color: var(--primary-color);
    transition: color 0.2s ease-out;
}
.navItemActive
{
    background-color: var(--primary-color);
}
.navItemActive > .navLink
{
    color: black;
}