.projects
{
    background-color: var(--background-primary-color);
    display: flex;
    flex-direction: column;
    padding-top: 1vw;
    margin-bottom: 0;
}
.projectsTitle
{
    text-align: center;
    font-size: 3vw;
}
.projectsContainer
{
    margin-bottom: 2vw;
    height: 20vw;
    display: flex;
    flex: row;
    justify-content: center;
}
.projectsLeftColumn
{
    margin-right: 0.5vw;
}
.projectsItemContainer
{
    transition: opacity 0.2s ease-out;
    position: relative;
    padding: 0;
}
.projectsItemContainer:hover
{
    opacity: 0.6;
}
.projectsItemContainer:hover .projectsItemTitle
{
    opacity: 1;
}
.projectsMainItem
{
    height: 20vw;
    position: relative;
    z-index: 0;
}
.projectsItemTitleContainer
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}
.projectsItemTitle
{
    opacity: 0;
    transition: opacity 0.2s ease-out;
    margin: 0;
}
.projectsRightColumn
{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
}
.projectsSecondaryItem
{
    height: 9.8vw;
}