.about{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 76%;
    flex-grow: 0.5;
}
.aboutBox{
    width: 20%;
    border: 0.1rem solid var(--secondary-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.5rem;
    justify-content: space-around;
    align-self: stretch;
    gap: 2rem;
}
.aboutSection{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.aboutSectionContent{
    width: 100%;
    display: flex;
    justify-content: center;
}
.aboutTitle{
    font-size: 2rem;
    text-align: center;
    margin: 0 0 1.5rem 0;
}
.aboutIntroContainer{
    width: 100%;
}
.aboutHero{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1.5rem 0;
}
.aboutHeroPic{
    width: 5rem;
    aspect-ratio: 1;
    border: 0.1rem var(--secondary-color) solid;
    border-radius: 80%;
}
.aboutHeroName{
    font-size: 2.5rem;
    width: 100%;
    margin: 0 0 0 1rem;
}
.aboutDesc{
    font-size: 1rem;
}
.aboutLangTitle{
    margin: 0 0 1rem 0;
}
.aboutLangContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.aboutLangItem{
    font-size: 1.3rem;
}
.aboutStackContent{
    gap: 2rem;
}
.aboutStackItem{
    width: 4rem;
    aspect-ratio: 1;
}
.aboutNumbersContent{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: repeat(3, auto);
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
}
.aboutNumbersItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.aboutNumbersItem1{
    grid-column-start: 1;
    grid-row-start: 1;  
}
.aboutNumbersItem2{
    grid-column-start: 2;
    grid-row-start: 1;
}
.aboutNumbersItem3{
    grid-column-start: 1;
    grid-row-start: 2;
}
.aboutNumbersItem4{
    grid-column-start: 2;
    grid-row-start: 2;
}
.aboutNumbersItem5{
    grid-column-start: 1;
    grid-row-start: 3;
}
.aboutNumbersItem6{
    grid-column-start: 2;
    grid-row-start: 3;
}
.aboutNumbersItemNumber{
    font-size: 1.5rem;
    display: flex;
    margin: 0 0 0.5rem 0;
}
.aboutNumbersItemDesc{
    font-size: 0.9rem;
    text-align: center;
}
.aboutValuesSection{
    height: 100%;
}
.aboutValuesContent{
    display: flex;
    flex-direction: column;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.aboutValuesItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutValuesIcon{
    height: 5rem;
    margin: 0 0 2rem 0;
}
.aboutValuesText{
    font-size: 1.5rem;
}

@media only screen and (max-width: 1300px){
.aboutTitle{
    font-size: 1.25rem;
}
.aboutHeroPic{
    width: 3rem;
}
.aboutHeroName{
    font-size: 1.5rem;
}
.aboutDesc{
    font-size: 0.9rem;
}
.aboutLangItem{
    font-size: 1rem;
}
.aboutStackContent{
    gap: 1rem;
}
.aboutStackItem{
    width: 3rem;
}
.aboutNumbersContent{
    gap: 1.5rem;
}
.aboutNumbersItemNumber{
    font-size: 1.25rem;
}
.aboutNumbersItemDesc{
    font-size: 1rem;
}
.aboutValuesIcon{
    height: 4rem;
}
.aboutValuesText{
    font-size: 1rem;
}
}

/*//////////////MOBILE//////////////*/
@media only screen and (max-width: 800px){
    .about{
        flex-direction: column;
        height: 80%;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }
    .aboutBox{
        width: 70%;
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
        padding: 2rem;
        border-radius: 3rem;
    }
    .aboutFirstBox{
        flex-direction: column;
    }
    .aboutTitle{
        font-size: 2rem;
    }
    .aboutHero{
        justify-content: left;
    }
    .aboutHeroPic{
        width: 5rem;
    }
    .aboutHeroName{
        font-size: 2rem;
        width: 40%;
    }
    .aboutDesc{
        font-size: 1rem;
        text-align: center;
    }
    .aboutLangItem{
        font-size: 1rem;
    }
    .aboutSecondBox{
        flex-direction: column;
    }
    .aboutStackSection{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .aboutStackContent{
        margin: 0.5rem 0 0 0;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }
    .aboutStackItem{
        width: 4rem;
    }
    .aboutNumbersSection{
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    .aboutNumbersContent{
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: repeat(2, 2rem);
        gap: 1.5rem;
        justify-items: center;
        align-items: center;
        margin: 0 0 2rem 0;
    }
    .aboutNumbersItem1{
        grid-column-start: 1;
        grid-row-start: 1;  
    }
    .aboutNumbersItem2{
        grid-column-start: 2;
        grid-row-start: 1;
    }
    .aboutNumbersItem3{
        grid-column-start: 3;
        grid-row-start: 1;
    }
    .aboutNumbersItem4{
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .aboutNumbersItem5{
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .aboutNumbersItem6{
        grid-column-start: 3;
        grid-row-start: 2;
    }
    .aboutNumbersContent{
        justify-content: space-between;
        row-gap: 5rem;
    }
    .aboutNumbersItemNumber{
        font-size: 1.5rem;
        margin: 0 0 2% 0;
    }
    .aboutNumbersItemDesc{
        font-size: 0.8rem;
    }
    .aboutThirdBox{
        height: 50%;
    }
    .aboutValuesSection{
        height: fit-content;
    }
    .aboutTitle{
        margin: 0 0 8% 0;
    }
    .aboutValuesContent{
        flex-direction: row;
        height: fit-content;
    }
    .aboutValuesText{
        font-size: 0.8rem;
    }
}