.about{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 76%;
}
.aboutBox{
    width: 17%;
    height: 80%;
    border: 0.1rem solid var(--secondary-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.5rem;
    justify-content: space-around;
}
.aboutSection{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.aboutSectionContent{
    width: 100%;
    display: flex;
    justify-content: center;
}
.aboutTitle{
    font-size: clamp(1rem, 2rem, 2vw);
    text-align: center;
    margin: 0 0 1.5rem 0;
}
.aboutIntroContainer{
    width: 100%;
}
.aboutHero{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1.5rem 0;
}
.aboutHeroPic{
    width: clamp(3rem, 5rem, 7vw);
    aspect-ratio: 1;
    border: 0.1rem var(--secondary-color) solid;
    border-radius: 80%;
}
.aboutHeroName{
    font-size: clamp(0.8rem, 2.5rem, 2vw);
    width: 100%;
    margin: 0 0 0 1rem;
}
.aboutDesc{
    font-size: clamp(0.5rem, 1rem, 1.3vw);
}
.aboutLangTitle{
    margin: 0 0 1rem 0;
}
.aboutLangContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.aboutLangItem{
    font-size: 1rem;
}
.aboutStackContent{
    gap: clamp(0.5rem, 2rem, 1.5vw);
}
.aboutStackItem{
    width: clamp(2rem, 4rem, 5vw);
    aspect-ratio: 1;
}
.aboutNumbersContent{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.aboutNumbersItemRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.aboutNumbersItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.aboutNumbersItemNumber{
    font-size: 1.5rem;
    display: flex;
    margin: 0 0 1rem 0;
}
.aboutNumbersItemDesc{
    font-size: clamp(0.5rem, 0.9rem, 0.8vw);
    text-align: center;
}
.aboutValuesSection{
    height: 100%;
}
.aboutValuesContent{
    display: flex;
    flex-direction: column;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.aboutValuesItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutValuesIcon{
    height: clamp(2rem, 5rem, 9vw);
    margin: 0 0 2rem 0;
}
.aboutValuesText{
    font-size: 1.5rem;
}

/*//////////////MOBILE//////////////*/
@media only screen and (max-width: 800px){
    .about{
        flex-direction: column;
        height: auto;
    }
    .aboutBox{
        width: 70%;
        flex-direction: row;
        gap: clamp(1rem, 3rem, 2vw);
        justify-content: center;
        padding: 2rem;
        border-radius: 3rem;
    }
    .aboutTitle{
        font-size: clamp(0.75rem, 2rem, 4vw);
    }
    .aboutHero{
        justify-content: center;
    }
    .aboutHeroPic{
        width: 5rem;
    }
    .aboutHeroName{
        font-size: clamp(1rem, 2rem, 4vw);
        width: 40%;
    }
    .aboutDesc{
        font-size: clamp(0.4rem, 0.7rem, 2vw);
        text-align: center;
    }
    .aboutLangItem{
        font-size: clamp(0.2rem, 0.7rem, 2vw)
    }
    .aboutSecondBox{
        height: 50%;
    }
    .aboutStackSection{
        width: 32%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .aboutStackContent{
        margin: 0.5rem 0 0 0;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }
    .aboutStackItem{
        width: clamp(1rem, 3rem, 6vw);
    }
    .aboutNumbersSection{
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    .aboutNumbersItemRow{
        gap: 0.5rem;
    }
    .aboutNumbersContent{
        justify-content: space-between;
        display: flex;
    }
    .aboutNumbersItemNumber{
        font-size: clamp(0.5rem, 1.5rem, 4vw);
        margin: 0 0 2% 0;
    }
    .aboutNumbersItemDesc{
        font-size: clamp(0.4rem, 0.8rem, 2.5vw);
    }
    .aboutThirdBox{
        height: 50%;
    }
    .aboutValuesSection{
        height: fit-content;
    }
    .aboutTitle{
        margin: 0 0 8% 0;
    }
    .aboutValuesContent{
        flex-direction: row;
        height: fit-content;
    }
    .aboutValuesText{
        font-size: 35%;
    }
}