.about{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.aboutBox{
    width: 17%;
    height: 75%;
    border: 0.15vw solid var(--secondary-color);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 2%;
    justify-content: center;
    gap: 20%;
}
.aboutSection{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.aboutSectionContent{
    width: 100%;
    display: flex;
    justify-content: center;
}
.aboutTitle{
    font-size: 30%;
    text-align: center;
    margin: 0 0 5% 0;
}
.aboutHero{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 10% 0;
}
.aboutHeroPic{
    width: 30%;
    aspect-ratio: 1;
    border: 0.1vw var(--secondary-color) solid;
    border-radius: 80%;
}
.aboutHeroName{
    font-size: 40%;
    width: 100%;
    margin: 0 0 0 5%;
}
.aboutDesc{
    font-size: 17%;
    margin: 0 0 10% 0;
}
.aboutLangTitle{
    margin: 0 0 15% 0;
}
.aboutLangContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
}
.aboutLangItem{
    font-size: 20%;
}
.aboutStackContent{
    gap: 10%;
}
.aboutStackItem{
    width: 18%;
    min-width: 3vw;
    aspect-ratio: 1;
}
.aboutNumbersSection{
    height: 50%;
}
.aboutNumbersContent{
    display: flex;
    flex-direction: column;
    height: 60%;
    gap: 15%;
}
.aboutNumbersItemRow{
    display: flex;
    flex-direction: row;
}
.aboutNumbersItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}
.aboutNumbersItemNumber{
    font-size: 25%;
    display: flex;
    margin: 0 0 10% 0;
}
.aboutNumbersItemDesc{
    font-size: 13%;
    text-align: center;
}
.aboutValuesSection{
    height: 100%;
}
.aboutValuesContent{
    display: flex;
    flex-direction: column;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.aboutValuesItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutValuesIcon{
    width: 30%;
    margin: 0 0 5% 0;
}
.aboutValuesText{
    font-size: 20%;
}

/*//////////////MOBILE//////////////*/
@media only screen and (max-width: 800px){
    .about{
        flex-direction: column;
    }
    .aboutBox{
        width: 70%;
        flex-direction: row;
        gap: 10%;
        justify-content: center;
        padding: 5%;
        border-radius: 10%;
    }
    .aboutTitle{
        font-size: 70%;
    }
    .aboutFirstBox{
        height: 30%;
    }
    .aboutHero{
        width: 100%;
        justify-content: center;
    }
    .aboutHeroPic{
        width: 25%;
    }
    .aboutHeroName{
        width: 40%;
    }
    .aboutDesc{
        font-size: 28%;
        text-align: center;
    }
    .aboutSecondBox{
        height: 50%;
    }
    .aboutStackSection{
        width: 32%;
    }
    .aboutStackContent{
        margin: 15% 0 0 0;
    }
    .aboutStackItem{
        width: 25%;
    }
    .aboutNumbersSection{
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    .aboutNumbersContent{
        justify-content: space-between;
        display: flex;
    }
    .aboutNumbersItemNumber{
        font-size: 40%;
        margin: 0 0 2% 0;
    }
    .aboutNumbersItemDesc{
        font-size: 25%;
    }
    .aboutLangContent{
        font-size: 200%;
    }
    .aboutThirdBox{
        height: 50%;
    }
    .aboutValuesSection{
        height: fit-content;
    }
    .aboutTitle{
        margin: 0 0 8% 0;
    }
    .aboutValuesContent{
        flex-direction: row;
        height: fit-content;
    }
    .aboutValuesText{
        font-size: 35%;
    }
}