.aboutContainer
{
    width: 100dvw;
    height: 100dvh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2dvw;
}
.aboutPic
{
    margin: 0;
    border-radius: 20%;
    width: min(45dvw, 90dvh);
}
.aboutTexts
{
    width: max-content;
}
.aboutTitle
{
    margin: 0;
    font-size: min(5dvw, 9dvh);
    color: var(--primary-color);
}
.aboutDesc
{
    max-width: 40dvw;
    font-size: min(1.75dvw, 4.5dvh);
}

/*//////////////////// Mobilka ////////////////////*/
.aboutMobileContainer
{
    margin: 0 auto 0 auto;
    width: 100dvw;
    height: 100dvh;
    flex-direction: column;
    padding: 5dvw 0 0 0;
    align-items: center;
    justify-content: center;
    display: flex;
}
.aboutMobileHead
{
    margin: 0 0 0 min(7dvw, 7dvh);
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}
.aboutMobileTitleContainer
{
    margin: 0 max(-15dvw, -20dvh) 0 0;
}
.aboutMobileTitle
{
    font-size: min(9dvw, 8dvh);
    text-align: center;
    color: var(--primary-color);
}
.aboutMobilePic
{
    width: min(60dvw, 60dvh);
    border-radius: 20%;
}
.aboutMobileDescContainer
{
    width: min(80dvw, 80dvh);
}
.aboutMobileDesc
{
    font-size: min(4dvw, 3dvh);
    text-align: center;
    text-align: left;
}