*{
  margin: 0;
  padding: 0;
}
.app{
  width: 100%;
  height: 100%;
}
.subpage{
  height: 76%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*//////////////MOBILE//////////////*/
@media only screen and (max-width: 800px){
  .subpage{
    height: 100%;
  }
}