@font-face
{
    font-family: 'Rubik';
    src: local('Rubik-VariableFont_wght'), url('./fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}
html
{
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
}
html::-webkit-scrollbar
{
    display: none;
}
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Rubik', 'Arial', sans-serif;
    color: white;
    --background-color: #19282A;
    --primary-color: #7EF9C2;
    --secondary-color: #4EC992;
    --contrast-color: #58FCEC;
}
input
{
    font-family: 'Rubik', 'Arial', sans-serif;
}
input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0px 100px var(--background-color) inset;
    -webkit-text-fill-color: var(--secondary-color);
    caret-color: var(--primary-color);
}
input:-webkit-autofill:focus
{
    border-color: var(--primary-color);
}
::selection
{
    background-color: var(--secondary-color);
    color: var(--background-color);
}
button
{
    font-family: 'Rubik', 'Arial', sans-serif;
}
.content
{
    z-index: 5;
}
.scrollSnapItem
{
    scroll-snap-align: start;
}
.hiddenLeft, .hiddenCenter, .hiddenRight
{
    filter: blur(1px);
    transition: none;
    opacity: 0;
}
@media(prefers-reduced-motion: reduce)
{
    .hiddenLeft, .hiddenCenter, .hiddenRight
    {
        transition: none;
    }
}
.hiddenLeft
{
    transform: translateX(-20%);
}
.hiddenRight
{
    transform: translateX(20%);
}
.visible
{
    opacity: 1;
    filter: none;
    transform: none;
    transition: opacity 1.5s ease-out, filter 1.5s ease-out, transform 1.5s ease-out;
}
.aboutTexts .hiddenCenter:nth-child(2)
{
    transition-delay: 0.75s;
}
.contactFormMessageContainer
{
    transition-delay: 0.25s;
}
.contactFormSubmission .hiddenRight
{
    transition-delay: 0.75s;
}