.contactFormInside
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 0 1.5vw 0;
    font-size: 1.75vw;
}
.contactFormGreeting
{
    margin: 0 0 0.75vw 0;
}
.contactFormDetails
{
    margin: 0 0 1.5vw 0;
}
.contactFormText
{
    font-size: 1.8vw; 
}
.contactFormLine
{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.5vw 0 0.1vw 0;
}
.contactFormInputPrefix
{
    min-width: fit-content;
}
.contactFormInput
{
    display: inline-block;
    width: 100%;
    height: 1.8vw;
    margin: 0 0 0 0.5vw;
    padding: 0;
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 0 0 0.1vw 0;
    background-color: var(--background-color);
    font-size: 1.8vw;
    color: var(--secondary-color);
}
.contactFormInput:focus
{
    border-style: dotted;
    outline: none;
}
.contactFormMessageContainer
{
    margin: 0 0 1.5vw 0;
}
.contactFormMessage
{
    width: 100%;
    height: 13vw;
    margin: 1vh 0 0 0;
    padding: 0.3vw;
    background-color: var(--background-color);
    font-size: 1.5vw;
    color: var(--secondary-color);
    resize: none;
}
.contactFormButtonContainer
{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contactFormButton
{
    width: 13vw;
    padding: 0.5vw;
    border: 0.2vw solid var(--primary-color);
    border-radius: 90px;
    background-color: var(--background-color);
    font-size: 2vw;
    font-weight: bold;
    color: var(--primary-color);
    transition: all 0.2s ease-out;
}
.contactFormButton:hover
{
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

/*//////////////////// Mobilka ////////////////////*/
@media only screen and (max-width: 750px)
{
    .contactFormGreeting
    {
        margin: 0 0 4vw 0;
        font-size: 4vw;
    }
    .contactFormLine
    {
        display: flex;
        flex-direction: column;
    }
    .contactFormLine
    {
        margin: 0 0 5vw 0;
    }
    .contactFormInputPrefix
    {
        margin: 0;
        font-size: 4vw;
    }
    .contactFormInput
    {
        height: 6vw;
        border-color: var(--primary-color);
        border-style: solid;
        border-width: 0 0 0.4vw 0;
        font-size: 4vw;
    }
    .contactFormMessageContainer
    {
        margin: 0 0 4vw 0;
    }
    .contactFormMessage
    {
        height: 30vw;
        font-size: 3.5vw;
    }
    .contactFormButton
    {
        width: 33vw;
        padding: 2vw;
        font-size: 6vw;
        border-width: 0.5vw;
    }
}