.contactContainer
{
    height: 100dvh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    display: flex;
}
.contactInfoTitle
{
    margin: 4dvw 0 0 0;
    font-size: min(5dvw, 9dvh);
    text-align: left;
    color: var(--primary-color);
}
.contactFormContainer
{
    width: 70%;
}

/*//////////////////// Mobilka ////////////////////*/
@media only screen and (max-width: 750px)
{
    .contactContainer
    {
        padding: 6dvh 0 0 0;
    }
    .contactInfoTitle
    {
        margin: 0 0 min(8dvw, 3.5dvh) 0;
        font-size: min(9dvw, 8dvh)
    }
    .contactFormContainer
    {
        width: 80%;
    }
}