.contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    align-items: center!important;
}
.contactTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    letter-spacing: 0.01%;
    margin: 0 0 2rem 0;
}
.contactForm{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
    height: 90%;
}
.contactFormMailRow{
    display: flex;
    flex-direction: row;
    margin: 0 0 2rem 0;
    width: 100%;
    justify-content: start;
}
.contactFormMailLabel{
    margin: 0.6rem 1rem 0 0;
    width: fit-content;
    white-space: nowrap;
}
.contactFormMail{
    width: 100%;
}
.contactFormMessageRow{
    width: 100%;
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    height: 50%;
}
.contactFormMessageLabel{
    margin: 0 0 1rem 0;
}
.contactFormMessage{
    width: 98%;
    height: 20rem;
    resize: none;
}
.contactFormLabel{
    font-size: 1.5rem
}
.contactFormInput{
    background-color: #090909;
    border: none;
    color: var(--primary-color);
    font-size: 1.3rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--secondary-color);
    transition: all 0.2s ease-out;
    outline: none;
    padding: 1%;
}
.contactFormInput:focus{
    border: 0.1rem solid var(--primary-color)
}
.contactFormButtonRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contactFormButton{
    height: 100%;
    width: 20%;
    margin: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0);
    border: 0.1rem solid var(--secondary-color);
    color: var(--primary-color);
    border-radius: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
}
.contactFormCaptchaContainer{
    transform: scale(1);
    transform-origin: 0 0;
}
.contactFormCaptcha{
    z-index: 100;
}
@media screen and (max-width: 1300px){
    .contactTitle{
        font-size: 4rem;
    }
}
@media screen and (max-width: 800px){
    .contactForm{
        margin: 0;
        width: 70%;
    }
    .contactTitle{
        font-size: 3rem;
    }
    .contactFormMailLabel{
        font-size: 1.2rem;
    }
    .contactFormMail{
        font-size: 1.2rem;
    }
    .contactFormMessageRow{
        margin: 0 0 1rem 0;
    }
    .contactFormMessageLabel{
        font-size: 1.2rem;
    }
    .contactFormMessage{
        font-size: 1.2rem;
    }
    .contactFormButtonRow{
        flex-direction: column-reverse;
        align-items: end;
    }
    .contactFormCaptchaContainer{
        margin: 0 0 1rem 0;
    }
    .contactFormButton{
        width: 10rem;
        font-size: 2rem;
    }
}