.footer{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 0;
    height: 12%;
}
.footerIcons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0 2rem 0 0;
}

@media only screen and (max-width: 800px){
    .footer{
        height: 15%;
    }
    .footerIcons{
        margin: 0 1rem 1rem 0;
    }
}