.footerIcon{
    border-radius: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(min(7vw, 6vh));
    height: calc(min(7vw, 6vh));
    cursor: pointer;
}
.footerInsideIcon{
    width: 80%;
}