.footerIcon{
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}
.footerInsideIcon{
    width: 3.2rem;
}