.header{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: left;
}
.headerSegment1{
    width: 25%;
    margin: 1% 0 0 1%;
}
.headerSegment2{
    width: 50%;
    margin: 1% 0 0 0;
}
.headerLogo{
   height: calc(min(6vw, 7.5vh));
   cursor: pointer;
}

/*//////////////MOBILE//////////////*/
@media only screen and (max-width: 800px){
    .header{
        height: 9%;
    }
    .headerSegment1{
        margin: 3% 0 0 3%;
        width: 15%;
    }
    .headerSegment2{
        width: 70%;
        margin: 3% 0 0 0;
    }
    .headerLogo{
        height: 90%;
    }
}