.header{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2rem 0 2rem 0;
}
.headerSegment{
    height: fit-content;
}
.headerSegment1{
    width: 15%;
    margin: 0 0 0 2rem;
}
.headerSegment2{
    width: 70%;
    margin: 0 0 0 0;
}
.headerLogo{
   height: 5rem;
   cursor: pointer;
}

@media only screen and (max-width: 800px){
    .header{
        min-height: 15%;
        padding: 1rem 0 1rem 0;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 0 0.5rem 0;
    }
    .headerSegment2{
        width: 70%;
    }
}