.header{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.headerSegment{
    height: fit-content;
}
.headerSegment1{
    width: 20%;
    margin: 0 0 0 1rem;
}
.headerSegment2{
    width: 60%;
    margin: 0 0 0 0;
}
.headerLogo{
   height: 5rem;
   cursor: pointer;
}

/*//////////////MOBILE//////////////*/
@media only screen and (max-width: 800px){
    .header{
        height: 15%;
    }
    .headerSegment1{
        margin: 2rem 0 0 2rem;
        width: 15%;
    }
    .headerSegment2{
        width: 70%;
        margin: 2rem 0 0 0;
    }
}