.home{
    display: flex;
    flex-direction: column;
    height: 76%;
    align-items: center!important;
}
.homeTitle{
  font-size: 8rem;
  margin: 0 0 1rem 0;
}
.menuHome{
    display: flex;
    justify-content: center;
    width: 100%;
}
.menuHome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.menuHomeEl{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}
.menuHomeSlash{
    font-size: 2rem;
    color: var(--secondary-color);
}

@media only screen and (max-width: 1300px){
    .homeTitle{
        font-size: 5rem;
    }
    .menuHomeEl{
        font-size: 1.5rem;
    }
    .menuHomeSlash{
        font-size: 1.5rem;
    }
}

/*//////////////MOBILE//////////////*/
@media only screen and (max-width: 800px){
    .home{
        height: 70%;
    }
    .homeTitleContainer{
        max-width: 80%;
    }
    .homeTitle{
        font-size: 5rem;
        text-align: center;
    }
    .menuHome{
        gap: 0.5rem;
    }
    .menuHomeEl{
        font-size: 1.5rem;
    }
    .menuHomeSlash{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 500px){
    .homeTitle{
        font-size: 3rem;
    }
    .menuHome{
        gap: 0.25rem;
    }
    .menuHomeEl{
        font-size: 1rem;
    }
    .menuHomeSlash{
        font-size: 1rem;
    }
}