.home{
    display: flex;
    flex-direction: column;
    height: 76%;
}
.homeTitle{
  font-size: clamp(2vw, 8rem, 10vw);
  margin: 0 0 1rem 0;
}
.menuHome{
    display: flex;
    justify-content: center;
    width: 100%;
}
.menuHome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.menuHomeEl{
    font-size: clamp(1vw, 2rem, 2.5vw);
    width: 100%;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}
.menuHomeSlash{
    font-size: clamp(1vw, 2rem, 2.5vw);
    color: var(--secondary-color);
}

/*//////////////MOBILE//////////////*/
@media only screen and (max-width: 800px){
    .home{
        height: 70%;
    }
    .homeTitleContainer{
        max-width: 80%;
    }
    .homeTitle{
        font-size: clamp(2rem, 5rem, 12vw);
        text-align: center;
    }
    .menuHome{
        gap: 0.5rem;
    }
    .menuHomeEl{
        font-size: clamp(1rem, 3rem, 4vw);
    }
    .menuHomeSlash{
        font-size: clamp(1rem, 3rem, 4vw);
    }
}