@font-face{
  font-family: Cornerstone;
  src: url(/fonts/Comfortaa-Regular.ttf);
}
html{
  width: 100%;
  height: 100%;
  font-family: Cornerstone;
  --primary-color: #F4FFFD;
  --secondary-color: #30C5FF;
  --bg-color: #151515;
}
body{
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-size: calc(min(6dvw, 10dvh));
}
#root
{
  width: 100%;
  height: 100%;
}
a{
  color: var(--primary-color);
  text-decoration: none;
}
