@font-face{
  font-family: Cornerstone;
  src: url(/fonts/Comfortaa-Regular.ttf);
}
html{
  width: 100%;
  height: 100%;
  font-family: Cornerstone;
  --primary-color: #F4FFFD;
  --secondary-color: #30C5FF;
  --bg-color: #151515;
  --first-breakpoint: 800;
}
body{
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-size: 16px;
}
#root
{
  width: 100%;
  height: 100%;
}
a{
  color: var(--primary-color);
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
}
.app{
  width: 100%;
  height: 100%;
}

.subpage{
  display: flex;
  justify-content: center;
  align-items: center;
}