.introContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    padding: 5dvh 0 0 0;
}
.introLeft
{
    width: 28dvw;
    max-width: 70dvh;
    margin: 2dvw 1dvw 0 0;
}
.introTopicSmall
{
    margin: 0 0 0.3dvw 0;
    font-size: min(2.5dvw, 5dvh);
    color: var(--primary-color);
}
.introShortDesc
{
    margin: 0 auto 0.3dvw auto;
    font-size: min(3.5dvw, 6.5dvh);
}
.introLongDesc
{
    margin: 0;
    font-size: min(1.75dvw, 4.5dvh);
    line-height: min(2.5dvw, 6dvh);
}
.introPicContainer
{
    margin: 0 1dvw 0 0;
}
.introPic
{
    width: min(25dvw, 50dvh);
    border-radius: 20%;
}
.introRight
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 20dvw;
    margin: 4dvw 0 0 1.4dvw;
}
.introName
{
    margin: 0 0 -0.3dvw 0;
    font-size: min(5dvw, 9dvh);
}
.introNameLine
{
    width: min(9.7dvw, 17.46dvh);
    margin: 0 0 0 min(0.3dvw, 0.5dvh);
    border: min(0.25dvw, 0.6dvh) solid var(--primary-color);
    transform-origin: center left;
    transition: all 0.3s ease-out;
}
.introNameContainer
{
    margin: 0 0 min(3.5dvw, 5dvh) 0;
}
.introNameContainer:hover .introNameLine
{
    border: 0.25dvw solid var(--secondary-color);
    transform: scale(2,1);
}
.introContactBtn
{
    width: min(18dvw, 40dvh);
    padding: 0.5dvw;
    border: min(0.3dvw, 0.7dvh) solid var(--primary-color);
    border-radius: 90px;
    background-color: var(--background-color);
    font-size: min(2dvw, 4dvh);
    font-weight: bold;
    color: var(--primary-color);
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.introContactBtn:hover
{
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
    transform: scale(1.05);
}

/*//////////////////// Mobilka ////////////////////*/
@media only screen and (max-width: 750px)
{
    .introContainer
    {
        flex-direction: column;
        width: 73dvw;
        padding: 0 0 0 13dvw;
    }
    .introMobileMain
    {
        display: flex;
        flex-direction: row;
        margin: 0 0 min(4dvw, 4dvh) 0;
    }
    .introPic
    {
        width: min(50dvw, 80dvh);
        max-width: 40dvh;
        transform: scaleX(-1)!important;
    }
    .introMobileMainTexts
    {
        margin: min(5dvw, 5dvh) 5dvw 0 max(-3dvw, -3dvh);
        width: fit-content;
    }
    .introName
    {
        margin: 0;
        font-size: min(9dvw, 8dvh);
    }
    .introNameLine
    {
        width: min(18dvw, 16dvh);
        margin: min(-0.5dvh) 0 min(2dvw,2dvh) min(0.5dvw, 0.5dvh);
        border: min(0.5dvw, 0.5dvh) solid var(--primary-color);
    }
    .introShortDesc
    {
        margin: 0 0 0 min(1dvw, 2dvh);
        width: min(40dvw, 40dvh);
        font-size: min(5dvw, 5dvh);
        text-align: right;
        color: var(--primary-color);
    }
    .introLongDesc
    {
        width: min(80dvw, 90dvh);
        font-size: min(5dvh, 5dvw);
        text-align: center;
        line-height: min(7dvh, 7dvw);
    }
}