.menuHeader{
    display: flex;
    justify-content: center;
    width: 100%;
}
.headerSegment{
    display: flex;
    align-items: center;
}
.menuHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.menuHeaderEl{
    font-size: clamp(1rem, 2rem, 3vw);
    width: 100%;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}
.menuHeaderSlash{
    font-size: clamp(1rem, 2rem, 3vw);
    color: var(--secondary-color);
}

/*//////////////MOBILE//////////////*/
@media only screen and (max-width: 800px){
    .menuHeaderEl{
        font-size: 1rem;
        
    }
    .menuHeaderSlash{
        font-size: 1rem;
    }
}