.menuHeader{
    display: flex;
    justify-content: center;
    width: 100%;
}
.menuHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 3%;
}
.menuHeaderEl{
    font-size: 35%;
    width: 100%;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}
.menuHeaderSlash{
    font-size: 35%;
    color: var(--secondary-color);
}

/*//////////////MOBILE//////////////*/
@media only screen and (max-width: 800px){
    .menuHeaderEl{
        font-size: 55%;
    }
    .menuHeaderSlash{
        font-size: 55%;
    }
}