.menuHeader{
    display: flex;
    justify-content: center;
    width: 100%;
}
.headerSegment{
    display: flex;
    align-items: center;
}
.menuHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.menuHeaderEl{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}
.menuHeaderSlash{
    font-size: 2rem;
    color: var(--secondary-color);
}

@media only screen and (max-width: 1300px){
    .menuHeaderEl{
        font-size: 1.5rem;
    }
    .menuHeaderSlash{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 800px){
    .menuHeader{
        gap: 0.4rem;
    }
    .menuHeaderEl{
        font-size: 1rem;
    }
    .menuHeaderSlash{
        font-size:  1rem;
    }
    .headerSegmentLast{
        display: none;
    }
}

@media only screen and (max-width: 500px){
    .menuHeader{
        gap: 0.25rem;
        flex-direction: column;
        align-items: end;
    }
    .menuHeaderEl{
        font-size: 1rem;
    }
    .menuHeaderSlash{
        font-size: 0.2rem;
        opacity: 0;
    }
}