.navContainer
{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 3vh;
    z-index: 3;
    width: 35%;
    margin: auto;
    border-radius: 60%;
}
.navItem
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    padding: 0.5vw 0 0.5vw 0;
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 0.2vw 0.1vw 0.2vw 0.1vw;
    background-color: var(--background-color);
    text-align: center;
    transition: all 0.2s ease-out;
    float: left;
    cursor: pointer;
}
.navItem:first-child
{
    border-width: 0.2vw 0.1vw 0.2vw 0.2vw;
    border-radius: 60px 0 0 60px;
}
.navItem:last-child
{
    border-width: 0.2vw 0.2vw 0.2vw 0.1vw;
    border-radius: 0 60px 60px 0;
}
.navItem:hover
{
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}
.navItem:hover .navLink
{
    color: white;
}
.navItem > .navLink
{
    font-size: calc(10px + 1vw);
    font-weight: 450;
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.2s ease-out;
}
.navItemActive
{
    background-color: var(--primary-color);
}
.navItemActive > .navLink
{
    color: black;
}

/*//////////////////// Mobilka ////////////////////*/
@media only screen and (max-width: 750px)
{
    .navContainer
    {
        width: 70vw;
    }
    .navItem
    {
        height: 100%;
        padding: 1.25vw;
        border-width: 0.25vw 0.125vw 0.25vw 0.125vw;
    }
    .navItem:first-child
    {
        border-width: 0.25vw 0.125vw 0.25vw 0.25vw;
    }
    .navItem:last-child
    {
        border-width: 0.25vw 0.25vw 0.25vw 0.125vw;
    }
    .navItem > .navLink
    {
        font-size: calc(10px + 2vw);
    }
}