.navWrapper
{
    width: 100dvw;
    justify-content: center;
    display: flex;
    --full-nav-border-width: min(0.2dvw, 0.5dvh);
    --half-nav-border-width: min(0.1dvw, 0.25dvh);
}
.navContainer
{
    position: fixed;
    top: min(3dvw, 1dvh);
    margin: auto;
    z-index: 3;
    border-radius: 60%;
    justify-content: center;
    display: flex;
}
.navItem
{
    border-width: var(--full-nav-border-width) var(--half-nav-border-width) var(--full-nav-border-width) var(--half-nav-border-width);
    border-style: solid;
    border-color: var(--primary-color);
    width: 15dvh;
    background-color: var(--background-color);
    padding: 0.5dvw min(2dvw, 2.5dvh) 0.5dvw min(2dvw, 2.5dvh);
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    transition: all 0.2s ease-out;
    float: left;
    cursor: pointer;
}
.navItem:first-child
{
    border-width: var(--full-nav-border-width) var(--half-nav-border-width) var(--full-nav-border-width) var(--full-nav-border-width);
    border-radius: 60px 0 0 60px;
}
.navItem:last-child
{
    border-width: var(--full-nav-border-width) var(--full-nav-border-width) var(--full-nav-border-width) var(--half-nav-border-width);
    border-radius: 0 60px 60px 0;
}
.navItem:hover
{
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}
.navItem:hover .navLink
{
    color: white;
}
.navItem > .navLink
{
    font-size: min(4.5dvw, 4dvh);
    font-weight: 450;
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.2s ease-out;
}
.navItemActive
{
    background-color: var(--primary-color);
}
.navItemActive > .navLink
{
    color: black;
}

/*//////////////////// Mobilka ////////////////////*/
@media only screen and (max-width: 750px)
{
    .navContainer
    {
        max-width: 70dvw;
        --full-mobile-nav-border-width: min(0.25dvw, 0.6dvh);
        --half-mobile-nav-border-width: min(0.125dvw, 0.3dvh);
        top: min(3dvw, 3dvh);
    }
    .navItem
    {
        padding: min(1dvw, 2dvh) min(3dvw, 4dvh) min(1dvw, 2dvh) min(3dvw, 4dvh);
        height: 100%;
        border-width: var(--full-mobile-nav-border-width) var(--half-mobile-nav-border-width) var(--full-mobile-nav-border-width) var(--half-mobile-nav-border-width);
    }
    .navItem:first-child
    {
        border-width: var(--full-mobile-nav-border-width) var(--half-mobile-nav-border-width) var(--full-mobile-nav-border-width) var(--full-mobile-nav-border-width);
    }
    .navItem:last-child
    {
        border-width: var(--full-mobile-nav-border-width) var(--full-mobile-nav-border-width) var(--full-mobile-nav-border-width) var(--half-mobile-nav-border-width);
    }
    .navItem > .navLink
    {
        font-size: min(4dvw, 4.5dvh);
    }
}