.projects{
    display: flex;
    flex-direction: column;
    height: 76%;
}
.projectsTitle
{
    font-size: 5rem;
    text-align: center;
    margin: 0 0 3rem 0;
}
.projectsList
{
    justify-content: center;
    display: flex;
}
.projectsListLeft
{
    margin: 0 0.5vw 0 0;
}
.projectsListRight > a:first-child > *{
    margin: 0 0 0.5vw 0;
}
.projectsListLink{
    height: fit-content;
}
.projectsListItem
{
    position: relative;
    background-color: var(--secondary-color);
    transition: all 0.2s ease-out;
    display: flex;
}
.projectsListItemLarge{
    height: 25rem;
}
.projectsListItemSmall{
    height: 12.2rem;
}
.projectsListItemTitleLarge{
    font-size: 5rem;
}
.projectsListItemTitleSmall{
    font-size: 2rem;
}
.projectsListItemVid
{
    position: relative;
    z-index: 0;
    display: block;
    transition: all 0.2s ease-out;
}
.projectsListItem:hover .projectsListItemVid
{
    opacity: 0.2;
}
.projectsListItem:hover .projectsListItemTitle
{
    opacity: 1;
}
.projectsListItemTitle
{
    position: absolute;
    top: 1%;
    margin: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    opacity: 0;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 1300px){
    .projectsListItemLarge{
        height: 18rem;
    }
    .projectsListItemSmall{
        height: 8.8rem;
    }
    .projectsListItemTitleLarge{
        font-size: 3rem;
    }
    .projectsListItemTitleSmall{
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px){
    .projectsTitle{
        font-size: 4rem;
    }
    .projectsList{
        flex-direction: column;
        align-items: center;
    }
    .projectsListLeft{
       width: fit-content;
       margin: 0 0 1rem 0;
    }
    .projectsListRight{
        width: fit-content;
    }
    .projectsListRight > a:first-child > *{
        margin: 0 0 1rem 0;
    }
    .projectsListItemLarge{
        height: 15rem;
    }
    .projectsListItemSmall{
        height: 15rem;
    }
    .projectsListItem{
        width: fit-content;
    }
    .projectsListItemTitleLarge{
        font-size: 3rem;
    }
    .projectsListItemTitleSmall{
        font-size: 3rem;
    }
}

@media screen and (max-width: 500px){
    .projectsTitle{
        font-size: 3rem;
    }
    .projectsListItemLarge{
        height: 10rem;
    }
    .projectsListItemSmall{
        height: 10rem;
    }
    .projectsListItemTitleLarge{
        font-size: 2.3rem;
    }
    .projectsListItemTitleSmall{
        font-size: 2.3rem;
    }
}