.projectsContainer
{
    height: 100dvh;
    flex-direction: column;
    padding: 5dvh 0 0 0;
    justify-content: center;
    display: flex;
}
.projectsTitle
{
    margin: 0 0 3dvw 0;
    font-size: min(5dvw, 9dvh);
    text-align: center;
    color: var(--primary-color);
}
.projectsListContainer
{
    flex: row;
    justify-content: center;
    display: flex;
}
.projectsListLeftColumn
{
    margin: 0 min(0.5dvw, 1dvh) 0 0;
}
.projectsListRightColumn
{
    margin: 0;
    flex-direction: column;
    display: flex;
    gap: min(0.5dvw, 1dvh);
}
.projectsListItemContainer
{
    position: relative;
    background-color: var(--secondary-color);
    transition: all 0.2s ease-out;
}
.projectsListItem
{
    position: relative;
    z-index: 0;
    display: block;
    transition: all 0.2s ease-out;
}
.projectsListItemContainer:hover .projectsListItem
{
    opacity: 0.2;
}
.projectsListItemContainer:hover .projectsListItemTitle
{
    opacity: 1;
}
.projectsListItemTitleContainer
{
    position: absolute;
    top: 1%;
    margin: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.projectsListItemTitle
{
    margin: 0;
    opacity: 0;
    color: white;
    transition: all 0.2s ease-out;
}

/*//////////////////// Mobilka ////////////////////*/
@media only screen and (max-width: 750px)
{
    .projectsContainer
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100dvh;
        padding: min(2dvw, 2.5dvh) 0 0 0;
    }
    .projectsTitle
    {
        margin: 0 0 2dvw 0;
        max-width: 80dvw;
        font-size: min(8dvw, 8dvh);
        text-align: center;
        color: var(--primary-color);
    }
    .projectsListContainer
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75dvw;
    }
    .projectsListMobileTop
    {
        width: fit-content;
        margin: 0 0 1.25dvw 0;
    }
    .projectsListMobileBottom
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 0;
        gap: 0.4dvw;
    }
    .projectsListItemContainer
    {
        overflow: hidden;
    }
    .projectsListContainer
    {
        position: relative;
    }
    .projectsListItem
    {
        position: relative;
        transition: none;
    }
    .projectsListItemTitleContainer
    {
    
        display: flex;
        align-items: center;
        justify-content: right;
        position: absolute;
        left: calc(100% - min(24dvw, 24dvh));
        top: calc(100% - min(6dvw, 6dvh));
        width: min(24dvw, 24dvh);
        height: min(6dvw, 6dvh);
        border-radius: 90px 0 0 90px;
        background-color: var(--primary-color);
        box-shadow: 0 0 2dvw var(--primary-color);
    }
    .projectsListItemContainer:hover .projectsListItem
    {
        opacity: 1;
    }
    .projectsListItemContainer:hover .projectsListItemTitle
    {
        opacity: 1;
    }
    .projectsListItemTitle
    {
        margin: 0 min(2dvw, 2dvh) 0 0;
        font-size: min(3dvw, 3dvh);
        opacity: 1;
    }
}