.sideSocials
{
    margin: min(2dvw,1dvh) 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    position: sticky;
    top: 0;
    width: fit-content;
    height: calc(100dvh - min(2dvw,1dvh));
    margin: 0 0 0 1dvw;
    gap: 1dvw;
}
.sideSocialIconLink
{
    display: block;
    position: relative;
    border-radius: 90%;
}
.sideSocialContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(2.5dvw, 7dvh);
    height: min(2.5dvw, 7dvh);
    border-radius: 90%;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.sideSocialContainer:hover
{
    scale: 1.1;
}
.sideSocialBg
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 90%;
    transition: all 0.2s ease-out;
    opacity: 0;
}
.sideSocialContainer:hover .sideSocialBg
{
    opacity: 1;
}
.sideSocialIcon
{
    position: absolute;
}
.sideNav
{
    margin: min(2dvw,1dvh) 0 0 98dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    position: sticky;
    top: 0;
    width: fit-content;
    height: calc(100dvh - min(2dvw,1dvh));
    gap: 0.5dvw;  
}
.sideNavDot
{
    width: min(3dvw, 2dvh);
    height: min(3dvw, 2dvh);
    border: min(0.1dvw, 0.25dvh) solid var(--primary-color);
    border-radius: 90%;
    transition: all 0.2s ease-out;
}
.sideNavDot:hover
{
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}
.sideNavDotActive
{
    background-color: var(--primary-color);
}

/*//////////////////// Mobilka ////////////////////*/
@media only screen and (max-width: 750px)
{
    .sideSocials
    {
        display: none;
    }
    .sideNav
    {
        display: none;
    }
}