.sideSocials
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    position: sticky;
    top: 0;
    width: fit-content;
    height: 100vh;
    margin: 0 0 0 1vw;
    gap: 1vw;
}
.sideSocialIconLink
{
    display: block;
    position: relative;
    border-radius: 90%;
}
.sideSocialContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 90%;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.sideSocialContainer:hover
{
    scale: 1.1;
}
.sideSocialBg
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 90%;
    transition: all 0.2s ease-out;
    opacity: 0;
}
.sideSocialContainer:hover .sideSocialBg
{
    opacity: 1;
}
.sideSocialIcon
{
    position: absolute;
}
.sideNav
{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    position: sticky;
    top: 0;
    width: fit-content;
    height: 100vh;
    margin: 0 0 0 98vw;
    gap: 0.5vw;  
}
.sideNavDot
{
    width: 0.75vw;
    height: 0.75vw;
    border: 0.1vw solid var(--primary-color);
    border-radius: 90%;
    transition: all 0.2s ease-out;
}
.sideNavDot:hover
{
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}
.sideNavDotActive
{
    background-color: var(--primary-color);
}

/*//////////////////// Mobilka ////////////////////*/
@media only screen and (max-width: 750px)
{
    .sideSocials
    {
        display: none;
    }
    .sideNav
    {
        display: none;
    }
}